@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+Mono:wght@100&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
}

:root {
  --scale: 0.75;
}

page {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin: calc(16mm * var(--scale));
  width: calc(210mm * var(--scale));
  height: calc(297mm * var(--scale));
  padding: calc(16mm * var(--scale));
  font-size: calc(1.1rem * var(--scale));
  outline: 0.1em solid #000;
}
page footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: calc(16mm * var(--scale));
  text-align: center;
  font-size: calc(0.8rem * var(--scale));
  font-family: monospace;
  font-weight: bold;
  color: #000;
}

h1 {
  font-size: 2.5em;
}

h2 {
  padding: 0.5em;
  text-align: center;
}

h3 {
  font-weight: normal;
  font-size: 1.3em;
  padding-bottom: 0.5em;
}

.spaced-headers h3 {
  padding-top: 0.75em;
}

h4 {
  font-weight: normal;
  color: #777;
}

p {
  padding-bottom: 0.5em;
}

a {
  text-decoration: none;
  color: #00e;
}

.header-container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0em 1em;
  grid-template-areas:
    "Name Name Profile Profile"
    "Area Email Profile Profile"
    "Portfolio Mobile Profile Profile";
}
.Name {
  grid-area: Name;
}
.Profile {
  grid-area: Profile;
}
.Area {
  grid-area: Area;
}
.Email {
  grid-area: Email;
}
.Mobile {
  grid-area: Mobile;
}
.Portfolio {
  grid-area: Portfolio;
}

.education-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto 0fr auto;
  gap: 0.5em 0;
  grid-auto-flow: row;
  grid-template-areas:
    "University Degree Degree Degree DegreeAward"
    "University Hnd Hnd Hnd HndAward"
    "Line Line Line . ."
    "College Diploma Diploma Diploma DiplomaAward";
  align-items: center;
}

.University {
  grid-area: University;
}

.Degree {
  grid-area: Degree;
}

.Hnd {
  grid-area: Hnd;
}

.DegreeAward {
  grid-area: DegreeAward;
}

.HndAward {
  grid-area: HndAward;
}

.College {
  grid-area: College;
}

.Diploma {
  grid-area: Diploma;
}

.DiplomaAward {
  grid-area: DiplomaAward;
}

.Line {
  grid-area: Line;
  background-color: #aaa;
  height: 0.15em;
  display: block;
}

.career-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 0fr auto 1fr;
  gap: 0.5em 1em;
  grid-auto-flow: row;
  grid-template-areas:
    "Inbox Inbox InboxTech"
    "InboxInfo InboxInfo InboxTech"
    "Line Line ."
    "Ge Ge GeTech"
    "GeInfo GeInfo GeTech";
}

.Inbox {
  grid-area: Inbox;
}

.InboxTech {
  grid-area: InboxTech;
}

.InboxInfo {
  grid-area: InboxInfo;
}

.GeInfo {
  grid-area: GeInfo;
}

.Ge {
  grid-area: Ge;
}

.GeTech {
  grid-area: GeTech;
}

.award {
  background-color: #cec;
  padding: 0.5em;
  text-align: center;
}

.business {
  font-size: 1.3em;
  line-height: 3.2em;
}

.field {
  margin: 0.5em;
  padding: 0.5em;
  background-color: #eee;
}

tech:first-of-type {
  border-top: 0.1em solid #aaa;
}
tech {
  display: block;
  border-bottom: 0.1em solid #aaa;
}

tech span {
  display: inline-block;
  width: 50%;
  padding: 0.5em 0;
}

.tech-container {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr;
  gap: 0 0.5em;
  grid-auto-flow: row;
  grid-template-areas: "Technologies Info";
}

.Technologies {
  grid-area: Technologies;
  align-self: center;
}

.Info {
  grid-area: Info;
}

@page {
  size: A4;
}
@media print {
  :root {
    --scale: 1;
  }
  html,
  page {
    width: 210mm;
    height: 297mm;
    margin: 0;
    padding: 0;
    outline: none;
  }
}
